__pycache__
__pycache__/
_ST-P3/
*.npy
*.png
*.pt
*.ckpt
.vscode/
nuscenes/
lightning_logs/
bs/
*.zip
*.mp4
llava/
minigpt4/
nuscenes/
*.swo
*.swp
prerained_minigpt4_7b.pth
0*_*/
centernet/
detectron2/
grit/
models/
sample_cam_imgs/
0/
*_0*
imgs/
answer*.json
answer_*.json
ckpts/
ckpts/*
mplug_owl/
shubham/
oviz/
oviz/*
mPLUG-Owl/
lidar-camera-calibration/
lift-splat-shoot/
data/
mPLUG-Owl
tusharc31/
wandb/
*.pkl
*.las
ST-P3
